<!--
 ! Excerpted from "Seven Web Frameworks in Seven Weeks",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/7web for more book information.
-->
<ul>
  <li class="bookmark" ng-repeat="metric in metrics">
    <button ng-click="editMetric(metric)">Edit</button>
    <button ng-click="deleteMetric(metric)">Delete</button>
    <a href="{{metric.url}}">{{bookmark.title}}</a>
  ( <a href="{{metric.url}}">{{bookmark.url}}</a> )
  </li>
</ul>
